#pentagon {
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: sticky;
    z-index: auto;
}

#pentagon svg {
    margin-right: 100px;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

svg {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.articlesPageContainer {
    visibility: hidden;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 50%;
}
text {
    font-weight: bold;
    cursor: pointer;
}
/* text:hover {
    transition: 300ms;
    fill:blue;
    text-decoration: underline;
    filter: drop-shadow(2px 4px 6px rgb(83, 83, 83));
} */